<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vote</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='dist/css/output.css') }}"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='images/logo.ico') }}"
    />
  </head>
  <body
    class="cdcont bg-gray-100 flex flex-col items-center justify-center min-h-screen p-5"
  >
    <!-- Countdown Timer -->
    <header class="mb-6">
      <div id="countdownHeader" class="text-lg font-bold"></div>
    </header>

    <!-- Ad Container -->
    <div class="ad-container mb-4">
      <script
        async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3409852641357503"
        crossorigin="anonymous"
      ></script>
      <ins
        class="adsbygoogle"
        style="display: block"
        data-ad-client="ca-pub-3409852641357503"
        data-ad-slot="1667424826"
        data-ad-format="auto"
      ></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>

    <form
      class="shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full max-w-sm"
      method="POST"
    >
      <p class="font-bold mb-4 logp">Login</p>

      <!-- Email -->
      <div class="mb-4">
        <label class="block text-sm font-bold mb-2" for="email">Email</label>
        <input
          required
          name="email"
          type="text"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="email"
        />
      </div>

      <!-- Password -->
      <div class="mb-6">
        <label class="block text-sm font-bold mb-2" for="password"
          >Password</label
        >
        <input
          required
          name="password"
          type="password"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
          id="password"
        />
      </div>

      <!-- Submit Button -->
      <div class="flex items-center justify-center">
        <button
          class="btlg text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="submit"
        >
          Submit
        </button>
      </div>
    </form>

    <!-- Flash Messages -->
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="mt-4 w-full max-w-lg mx-auto">
      {% for message in messages %}
      <div
        class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-2"
        role="alert"
      >
        {{ message }}
      </div>
      {% endfor %}
    </div>
    {% endif %} {% endwith %}

    <!-- Contact Us -->
    <footer class="mt-4 contact">
      <a href="{{ url_for('contact') }}" class="">Contact Us</a>
    </footer>

    <!-- Countdown Script -->
    <script>
      // Set the date we're counting down to
      const countDownDateHeader = new Date(
        "August 12, 2024 09:00:00 GMT+0100"
      ).getTime();

      // Update the countdown every 1 second
      const y = setInterval(function () {
        const now = new Date().getTime();
        const distance = countDownDateHeader - now;

        // Time calculations for days, hours, minutes, and seconds
        const days = Math.floor(distance / (1000 * 60 * 60 * 24));
        const hours = Math.floor(
          (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
        );
        const minutes = Math.floor(
          (distance % (1000 * 60 * 60)) / (1000 * 60)
        );
        const seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the countdown element
        document.getElementById(
          "countdownHeader"
        ).innerHTML = `Countdown: ${days}d ${hours}h ${minutes}m ${seconds}s `;

        // If the countdown is over
        if (distance < 0) {
          clearInterval(y);
          document.getElementById("countdownHeader").innerHTML =
            "The vote has finished!";
        }
      }, 1000);
    </script>
  </body>
</html>
