<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vote</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='dist/css/output.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.3/dist/tailwind.min.css"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='images/logo.ico') }}"
    />
  </head>
  <body
    class="bg-gray-100 flex cdcont flex-col items-center justify-center min-h-screen p-5"
  >
    <!-- Ad Container -->
    <div class="ad-container mb-4">
      <script
        async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3409852641357503"
        crossorigin="anonymous"
      ></script>
      <ins
        class="adsbygoogle"
        style="display: block"
        data-ad-client="ca-pub-3409852641357503"
        data-ad-slot="1667424826"
        data-ad-format="auto"
      ></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>

    <form
      class="shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full max-w-sm"
      method="POST"
    >
      <p class="font-bold mb-4 logp">Login</p>
      <div class="mb-4">
        <label class="block text-sm font-bold mb-2" for="email">Email</label>
        <input
          required
          name="email"
          type="text"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="email"
        />
      </div>
      <div class="mb-6">
        <label class="block text-sm font-bold mb-2" for="password"
          >Password</label
        >
        <input
          required
          name="password"
          type="password"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
          id="password"
        />
      </div>
      <div class="flex items-center justify-center">
        <button
          class="btlg text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="submit"
        >
          Submit
        </button>
      </div>
    </form>

    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="mt-4 w-full max-w-lg mx-auto">
      {% for message in messages %}
      <div
        class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-2"
        role="alert"
      >
        {{ message }}
      </div>
      {% endfor %}
    </div>
    {% endif %} {% endwith %}

    <footer class="mt-4 contact">
      <a href="{{ url_for('contact') }}" class="">Contact Us</a>
    </footer>
  </body>
</html>
