<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='dist/css/output.css') }}"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='images/logo.ico') }}"
    />
  </head>
  <body
    class="cdcont flex flex-col items-center reg justify-center min-h-screen"
  >
    <!-- Countdown Timer -->
    <header class="mb-6">
      <div id="countdownHeader" class="text-lg font-bold"></div>
    </header>

    <form
      class="shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full max-w-sm"
      method="POST"
    >
      <p class="font-bold mb-4 logp">Register</p>

      <!-- First Name -->
      <div class="mb-4">
        <label class="block text-sm font-bold mb-2" for="first_name"
          >First Name</label
        >
        <input
          required
          name="first_name"
          type="text"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="first_name"
        />
      </div>

      <!-- Last Name -->
      <div class="mb-4">
        <label class="block text-sm font-bold mb-2" for="last_name"
          >Last Name</label
        >
        <input
          required
          name="last_name"
          type="text"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="last_name"
        />
      </div>

      <!-- Are you a new ENA student? -->
      <div class="mb-6">
        <label class="block text-sm font-bold mb-2" for="is_new_student"
          >Were you a new ENSA student, who joined last year in 2023/2024?</label
        >
        <select
          required
          name="is_new_student"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="is_new_student"
        >
          <option value="" disabled selected>Select your option</option>
          <option value="yes">Yes.</option>
          <option value="no">No, I was an ENSA student before.</option>
        </select>
      </div>

      <!-- Submit Button -->
      <div class="flex items-center justify-center">
        <button
          class="btlg text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="submit"
        >
          Register
        </button>
      </div>
    </form>

    <!-- Flash Messages -->
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="mt-4 max-w-md">
      {% for message in messages %}
      <div
        class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-2 alt"
        role="alert"
      >
        {{ message }}
      </div>
      {% endfor %}
    </div>
    {% endif %} {% endwith %}

    <!-- Already Registered? -->
    <footer class="mt-4 contact">
      <a href="{{ url_for('login') }}" class="">Already Registered? Log In</a><br>
      <a href="{{ url_for('contact') }}" class="">Contact Us</a>
    </footer>

    <script>
      // Set the date we're counting down to
      const countDownDateHeader = new Date(
        "August 12, 2024 09:00:00 GMT+0100"
      ).getTime();

      // Update the countdown every 1 second
      const y = setInterval(function () {
        const now = new Date().getTime();
        const distance = countDownDateHeader - now;

        // Time calculations for days, hours, minutes, and seconds
        const days = Math.floor(distance / (1000 * 60 * 60 * 24));
        const hours = Math.floor(
          (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
        );
        const minutes = Math.floor(
          (distance % (1000 * 60 * 60)) / (1000 * 60)
        );
        const seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the countdown element
        document.getElementById(
          "countdownHeader"
        ).innerHTML = `Countdown: ${days}d ${hours}h ${minutes}m ${seconds}s `;

        // If the countdown is over
        if (distance < 0) {
          clearInterval(y);
          document.getElementById("countdownHeader").innerHTML =
            "The vote has finished!";
        }
      }, 1000);
    </script>
  </body>
</html>
