<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/output.css') }}" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo.ico') }}" />
</head>
<body class="flex flex-col items-center justify-center min-h-screen p-5">
    <h2 class="text-2xl font-bold mb-4 text-green-600">Register</h2>
    <form
      method="POST"
      class="bg-white shadow-md rounded-lg px-8 pt-6 pb-8 mb-4 w-full max-w-lg mx-auto"
    >

        <!-- First Name -->
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="first_name">First Name</label>
            <input
                required
                name="first_name"
                type="text"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="first_name"
            />
        </div>

        <!-- Last Name -->
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="last_name">Last Name</label>
            <input
                required
                name="last_name"
                type="text"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="last_name"
            />
        </div>

        <!-- Are you a new ENA student? -->
        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="is_new_student">Were you a new ENSA student, joined in 2023/2024?</label>
            <select
                required
                name="is_new_student"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="is_new_student"
            >
                <option value="" disabled selected>Select your option</option>
                <option value="yes">Yes, joined as a new CP1, CI1 or CI2.</option>
                <option value="no">No, I was an ENSA student before.</option>
            </select>
        </div>

        <!-- Submit Button -->
        <div class="flex items-center justify-center">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Register
            </button>
        </div>
    </form>

    <!-- Flash Messages -->
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="mt-4 w-full max-w-md">
        {% for message in messages %}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-2" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %} {% endwith %}

    <!-- Already Registered? -->
    <footer class="mt-4 text-center">
        <a href="{{ url_for('login') }}" class="text-blue-500 hover:text-blue-800">Already Registered? Log In</a>
        <br />
        <a href="{{ url_for('contact') }}" class="text-blue-500 hover:text-blue-800">Contact Us</a>
    </footer>
</body>
</html>
